
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p></p>
    <a class="texto" href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    <a class="texto" href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    <a class="texto" href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a class="texto" href="mailto:hbmclaren@gmail.com"><i class="fa-solid fa-envelope"></i></a>
  <p>© Copyright Hugo Baltazar</p>
  </div>
</div>
</body>
</html>
