<%- include('partials/header');  -%>

<br>
<h1>Compose </h1>

<form class="" action="/" method="post">
  <input type="text" name="newCompose"  >
  <button type="submit" name="button">Publish</button>
</form>

<%- include('partials/footer'); -%>
