
<%- include('partials/header');  -%>

<h1>home </h1>
<p><%= textoHome %></p>
<p><% newTexto.contenido  %></p>


<ul>
  <li><%= newTexto %></li>
</ul>

<%- include('partials/footer'); -%>
